{
    "auth_groups": [
        {
            "name": "home",
            "users": [{
                "login": "jack",
                "pass": "12345"
            }]
        },
        {
            "name": "friends",
            "users": [{
                "login": "carl",
                "pass": "54321"
            }]
        }
    ],
    "settings": {
        "listen_port": 80
    },
    "sites": [
        {
            "default": true,
            "name": "default_page",
            "port": 8020
        },
        {
            "host": "blog.site.com",
            "name": "blog",
            "port": 8021
        },
        {
            "auth_group": "home",
            "host": "api.site.com",
            "name": "api",
            "port": 8022,
            "realm": "MyAPI"
        },
        {
            "host": "dev-api.another.com",
            "name": "dev_api",
            "port": 8022,
            "remote": "192.168.1.3"
        }
    ]
}